.section {
    margin-bottom: 1em;
}

.tutorial {
    display: flex;
    flex-direction: row;
}

.tutorial-border{
    margin-left: 1em;
    border-left: thick solid skyblue;
    padding-left: 1em;
    padding-bottom: 10px;
}

.heading-input { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    border: none;
}

.heading-input-collapsed { 
    font-size: 1.5em !important;
}

.mce-edit-focus {
    padding-top: 3em;
}